.layout {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.sidebar {
    width: 250px; /* Sidebar width */
/*    padding: rem;*/
    background-color: red;
    padding: 50px;
}

.content {
    flex-grow: 1;
    padding: 1rem;
/*    background-color: #ecf0f1; */
    overflow-y: auto; /* Allow scrolling if content overflows */
}
